<div class="card">
  <div class="card-title">
    <h5>Lista de tareas</h5>
  </div>
  <div class="card-content">
    <table class="highlight">
      <tbody>
        <tr *ngFor="let todo of todoList">
          <td [class.is-done]="todo.isDone">
            {{todo.nameTask}}
          </td>
          <td>
            <button class="green" (click)="onCheck(todo)">
              <i class="material-icons">check</i>
            </button>
          </td>
          <td >
            <button class="red" (click)="onDelete(todo.$key)">
              <i class="material-icons">delete</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
